body{

    text-align: center;
    background-color: antiquewhite;



}
h1{
   
    color: rgb(151, 153, 51);
    padding: 5px;
    margin-left: 40vw;
    margin-right: 40vw;
    outline-offset: 10px;
    border: 7px solid red;
    border-radius: 9vw;
    background-color: sandybrown;
   
    
}
p{
    border: 7px solid black;
    border-radius: 9vw;
    width: fit-content;
    padding: 30px;
    margin: 100px ;
    margin-top: auto;
    background-color: yellow;
}